<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.BlogMapper">
    <select id="selectAllInstra" resultType="com.example.demo.entity.Blog">
        select
        title, summary, author, blog_sort_uid
        from
        t_blog
    </select>

    <select id="selectAllOrderBysid" resultType="com.example.demo.entity.Blog">
        select
        *
        from
        t_blog
        order by
        blog_sort_uid
    </select>

    <select id="selectAllInstraByBSuid" resultType="com.example.demo.entity.Blog">
        select
        title, summary, author, blog_sort_uid
        from
        t_blog
        where
        blog_sort_uid = #{blog_sort_uid}
    </select>

    <delete id="deleteAllByUidList">
        delete from
        t_blog
        where
        <foreach collection="uidList" item="uid" separator="OR">
            (uid =  #{uid})
        </foreach>
    </delete>

    <update id="updateClickCount">
        update t_blog
        set click_count = click_count + 1
        where uid = #{uid}
    </update>

    <update id="updateLikeCount">
        update t_blog
        set like_count = like_count + 1
        where uid = #{uid}
    </update>

    <update id="updateCommentCount">
        update t_blog
        set comment_count = comment_count + 1
        where uid = #{uid}
    </update>
</mapper>
