<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.BlogMapper">
    <select id="selectAllInstra" resultType="com.example.demo.entity.Blog">
        select
        title, summary, author, blog_sort_uid
        from
        t_blog
    </select>

    <select id="selectAllOrderBysid" resultType="com.example.demo.entity.Blog">
        select
        *
        from
        t_blog
        order by
        blog_sort_uid
    </select>

    <select id="selectAllInstraByBSuid" resultType="com.example.demo.entity.Blog">
        select
        title, summary, author, blog_sort_uid
        from
        t_blog
        where
        blog_sort_uid = #{blog_sort_uid}
    </select>

    <delete id="deleteAllByUidList">
        delete from
        t_blog
        where
        <foreach collection="uidList" item="uid" separator="OR">
            (uid =  #{uid})
        </foreach>
    </delete>

    <update id="updateClickCount">
        update t_blog
        set click_count = click_count + 1
        where uid = #{uid}
    </update>

    <update id="updateLikeCount">
        update t_blog
        <if test="flag == true">
            set like_count = like_count - 1
        </if>
        <if test="flag == false">
            set like_count = like_count + 1
        </if>
        where uid = #{uid}
    </update>

    <update id="updateCommentCount">
        update t_blog
        set comment_count = #{count}
        where uid = #{uid}
    </update>

    <update id="updateRecordCount">
        update t_blog
        <if test="flag == true">
            set collect_count = collect_count - 1
        </if>
        <if test="flag == false">
            set collect_count = collect_count + 1
        </if>
        where uid = #{uid}
    </update>

    <select id="selectOneByUid" resultType="com.example.demo.vo.BlogVo">
        SELECT
            t_blog.*
            <if test="userUid != null and userUid != ''">
                ,
                IF(t_like.blog_uid IS NOT NULL, TRUE, FALSE) AS is_like,
                IF(t_record.blog_uid IS NOT NULL, TRUE, FALSE) AS is_record
            </if>
        FROM
            t_blog
            <if test="userUid != null and userUid != ''">
                LEFT JOIN
                t_like ON t_blog.uid = t_like.blog_uid AND t_like.user_uid = #{userUid}
                LEFT JOIN
                t_record ON t_blog.uid = t_record.blog_uid AND t_record.user_uid = #{userUid}
            </if>
        WHERE
            t_blog.uid = #{uid}
    </select>
</mapper>
